body {
  margin: 0;
}

#app {
  position: relativ;
}

canvas {
  position: absolute;
  background-color: transparent;
}

#ui-layer {
  z-index: 3;
}
#game-layer {
  z-index: 2;
}
#bg-layer {
  z-index: 1;
}
